@import 'reset.css';

ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.drop-down-menu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }

    ul.drop-down-menu > li:last-child {
        border-right: none;
    }

    ul.drop-down-menu > li {
        float: left; /* 只有第一層是靠左對齊*/
    }

     ul.drop-down-menu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;

    }
    ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: #ef5c28;
        color: #fff;
    }
    ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: #ef5c28;
        color: #fff;
    }
ul.drop-down-menu ul {
        border: #ccc 1px solid;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
       min-width: 180px;
    }
ul.drop-down-menu ul li {
        border-bottom: #ccc 1px solid;
    }
ul.drop-down-menu ul li:last-child {
        border-bottom: none;
    }
#allPageCenter {
	border-radius: 30px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	overflow:hidden;
}
#topBanner {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #000000;
	padding: 15px;
}
a:link{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
a:visited{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color:  #0099FF;
}
#agentPicture {
	background-image: url('images/agent picture.jpg');
}
#companyLogo {
	background-color: #FFFFFF;
}
#footer {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
#welcome {
	padding: 0px 10px 10px 20px;
	font-size: 100px;
	text-transform: capitalize;
	color: #000000;
	font-weight: normal;
	font-family: HelveticaNeueW10-35Thin;
	position: relative;
	right: -550px;
	top: 170px;
	letter-spacing: normal;
	margin-bottom: inherit;
	background: linear-gradient(toprgba(255,255,255,0.5), rgba(255,255,255,0)),url(...) center bottom no-repeat;
	background: -moz-linear-gradient(top,rgba(255,255,255,0.5), rgba(255,255,255,0)),url(...) center bottom no-repeat;
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.5), rgba(255,255,255,0)),url(...) center bottom no-repeat;
}
h5 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: lighter;
}
.button {
	padding: 10px 20px;
	border: 3px solid #000000;
	background-color: #FFFFFF;
	border: 3px solid #000000;
	color: black;
	font-size: 15px;
	font-family: Arial;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
.button:hover {
	border: 3px solid maroon;
	background-color: maroon;
	border: 3px solid maroon;
	color: white;
	text-decoration: underline;
}
.button:active {
   top: 1px;
   position: relative;
   }
#agentInfo {
	width: 800px;
	height: 80px;
	position: relative;
	background-color: rgba(0,0,0,0.8);
	color: white;
}
#review {
	height: 900px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 800px;
}
.jasonBorne {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
}
.slider_container {
    margin: 0px;
    width: 350px;
    height: 250px;
    position: relative;
    border: 0px;    
    border-top-width: 20px;
    border-bottom-width: 30px;
    background-color: #f5f5f5;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /*0 - 1second fade in*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /*1 - 5second static*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /*5 - 6second fade out*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
         /*0 - 1second fade in*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
         /*1 - 5second static*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /*5 - 6second fade out*/
    }
}
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}
.slider_container span {
	padding: 0px;
	margin:10px;
	color: #000;
	position: absolute;
	left: 0%;
	top: 280px;
	width: 340px;
	height: auto;
	font-size: 12px;
	text-align: justify;
	line-height: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.certification{
	font-size: 12px;
	text-align: left;
	line-height: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;

}
.navigation {
	margin:0; 
	padding:0;
	width:1000px;
	list-style-type:none; 
	font:16px Arial; 
	background-color:black;
	}
.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:160px;
	background-color:black;
	color:white;
	}
/* 設置選單區塊*/
.navigation li dl { 
	width:160px;/*ie6*/
    margin:0; 
	padding:0;
	background-color:black;
	color:white;
	border:none; 
	}
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:black;	
	font-size: 16px;
	font-weight: lighter;
	height:15px;
	overflow:hidden;
	}
.navigation li dt a ,.navigation  li dt a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
	}
.navigation li dt a:hover , .navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:5px 5px 5px 5px; 
	color: white; 
	background-color:black;
	border-bottom:solid 1px #800000;
	}
.navigation li dd.last {
	border-bottom:0;
	}	
.navigation li dd a, .navigation  li dd a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
    }
.navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/*隱藏子選單*/
.navigation li dd { display:none;} 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, 
.navigation li a:hover dd { display:block;}
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}
