vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-FOG0J7P\\Freya
vti_modifiedby:SR|DESKTOP-FOG0J7P\\Freya
vti_timelastmodified:TR|15 Apr 2020 17:58:46 -0000
vti_timecreated:TR|12 Apr 2020 18:11:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Project/listing/listing_styleCSS.css Project/map/map_styleCSS.css Project/details/details_styleCSS.css Project/each/each_styleCSS.css Project/index_styleCSS.css Project/templet/templet_styleCSS.css Project/contact/contact_styleCSS.css
vti_nexttolasttimemodified:TW|12 Apr 2020 18:11:58 -0000
vti_cacheddtm:TX|12 Apr 2020 18:11:58 -0000
vti_filesize:IR|1069
