@import '../reset.css';
#allPageCenter {
	border-radius: 30px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#topBanner {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #000000;
	padding: 15px;

}
a:link{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
a:visited{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color:  #0099FF;
}
#companyLogo {
	background-color: #FFFFFF;
}
#footer {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.navigation {
	margin:0; 
	padding:0;
	width:1000px;
	list-style-type:none; 
	font:16px Arial; 
	background-color:black;
	}
.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:160px;
	background-color:black;
	color:white;
	}
/* 設置選單區塊*/
.navigation li dl { 
	width:160px;/*ie6*/
    margin:0; 
	padding:0;
	background-color:black;
	color:white;
	border:none; 
	}
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:black;	
	font-size: 16px;
	font-weight: lighter;
	height:15px;
	overflow:hidden;
	}
.navigation li dt a ,.navigation  li dt a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
	}
.navigation li dt a:hover , .navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:5px 5px 5px 5px; 
	color: white; 
	background-color:black;
	border-bottom:solid 1px #800000;
	}
.navigation li dd.last {
	border-bottom:0;
	}	
.navigation li dd a, .navigation  li dd a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
    }
.navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/*隱藏子選單*/
.navigation li dd { display:none;} 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, 
.navigation li a:hover dd { display:block;}
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}
.tableC{
	overflow: hidden;
	margin: 0px auto 0px auto;
	border: 1px solid #000000;
	height: 350px;
}

}
<!--slides-->
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
.mySlides2 {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width:600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.centerC {
	margin: 0px auto;
	overflow: hidden;
	right: auto;
	left: auto;
	width: 1000px;
}

#box{
	padding: 10px;
	background-color: #373C50;
	width: 880px;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
	margin: auto auto auto auto;
	color: #FFFFFF;
}
