body{
	background-color: #F1DAB5;
	background-image: url('images/bg.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}
img{
	height:auto;
	max-width:100%;
}
#allPage{
    width:980px;
	background-color:white;
	border-radius:30px;
	margin-right:auto;
	margin-left:auto;
	opacity:0.90;
	padding-top:5px;
	padding-bottom:5px;	
}
h4{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:xx-small;
}
h6{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:xx-small;
	color:maroon;
}
table{
	table-layout:fixed;
	}
a:link {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline overline;
	color: #666666;
	background-color: #C0C0C0;
}
a:visited {
	color: #000000;
}
#upLine{

	font-size:large;
}
#downLine{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: lighter;
	font-style: normal;
	color: #999999;
}
