@import '../reset.css';
#allPageCenter {
	border-radius: 30px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
		overflow:hidden;

}
.pic{width:220px; height:158px;overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.05,1.05);}
#box{
	padding: 10px;
	background-color: #373C50;
	width: 730px;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
	margin: auto auto auto auto;
	color: #FFFFFF;
}
#topBanner {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #000000;
	padding: 15px;

}
a:link{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
a:visited{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color:  #0099FF;
}
#companyLogo {
	background-color: #FFFFFF;
}
#footer {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.navigation {
	margin:0; 
	padding:0;
	width:1000px;
	list-style-type:none; 
	font:16px Arial; 
	background-color:black;
	}
.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:160px;
	background-color:black;
	color:white;
	}
/* 設置選單區塊*/
.navigation li dl { 
	width:160px;/*ie6*/
    margin:0; 
	padding:0;
	background-color:black;
	color:white;
	border:none; 
	}
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:black;	
	font-size: 16px;
	font-weight: lighter;
	height:15px;
	overflow:hidden;
	}
.navigation li dt a ,.navigation  li dt a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
	}
.navigation li dt a:hover , .navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:5px 5px 5px 5px; 
	color: white; 
	background-color:black;
	border-bottom:solid 1px #800000;
	}
.navigation li dd.last {
	border-bottom:0;
	}	
.navigation li dd a, .navigation  li dd a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
    }
.navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/*隱藏子選單*/
.navigation li dd { display:none;} 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, 
.navigation li a:hover dd { display:block;}
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}

<!--slide-->
#gallery
{
 position: relative;
}
#gallery ul
{
 list-style-type: none; width: 300px;
}
#gallery li
{
 display: inline; float: left; padding: 10px;
}
#gallery img
{
 border-style: none;
}
#gallery a
{
 text-decoration: none;
 font-style: italic;
 color: #333;
}
#gallery span
{
 display: none;
}
#gallery a:hover span
{
 display: block;
 position: absolute;
 top: 10px;
 left: 300px;
 text-align: center;
}

.center {
	margin-right: auto;
	margin-left: auto;
}
#listing {
	width: 800px;
	overflow: hidden;
}
.tableSet {
	margin: 10px 10px 10px 30px;
}
