@import '../reset.css';

#allPageCenter {
	border-radius: 30px;
	width: 1100px;
	margin-top:0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	overflow:hidden;
	
}
#topBanner {
    margin-top:0px;
    width:1100px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #000000;
	padding: 15px;
}
a:link{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
a:visited{
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color:  #0099FF;
}
#companyLogo {
	background-color: #FFFFFF;
}
#footer {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

#contactBox{
	background-color: #373C50;
	width: 600px;
	font-size: 28px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
	margin: auto auto auto auto;
	color: #FFFFFF;
}
#mail {
	margin: 0px auto 0px auto;
	width: 800px;
}
.button {
	padding: 10px 20px;
	border: 3px solid #000000;
	background-color: #FFFFFF;
	border: 3px solid #000000;
	color: black;
	font-size: 15px;
	font-family: Arial;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
}
.button:hover {
	border: 3px solid maroon;
	background-color: maroon;
	border: 3px solid maroon;
	color: white;
	text-decoration: underline;
}
.button:active {
   top: 1px;
   position: relative;
   }
#picture {
	background-image: url('images/phone.jfif');
	
}
ul { /*cancel default style*/
        margin: 0;
        padding: 0;
        list-style: none;
    }
.drop-down-menu {
	border:  1px solid;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	background-color: #000000;
}
.drop-down-menu li {
   position: relative;
   white-space:nowrap;
   border-right:1px solid;
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   font-size: 16px;
   background-color: #000000;  
}
.drop-down-menu > li:last-child {
   border-right: none;
}
.drop-down-menu > li {
        float: left; /* 只有第一層是靠左對齊*/
}
.drop-down-menu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;

    }
.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: #ef5c28;
        color: #fff;
    }
.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: #ef5c28;
        color: #fff;
    }
<!--menu-->
.navigation {
	margin:0; 
	padding:0;
	width:1000px;
	list-style-type:none; 
	font:16px Arial; 
	background-color:black;
	}
.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
	width:160px;
	background-color:black;
	color:white;
	}
/* 設置選單區塊*/
.navigation li dl { 
	width:160px;/*ie6*/
    margin:0; 
	padding:0;
	background-color:black;
	color:white;
	border:none; 
	}
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
	background-color:black;	
	font-size: 16px;
	font-weight: lighter;
	height:15px;
	overflow:hidden;
	}
.navigation li dt a ,.navigation  li dt a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
	}
.navigation li dt a:hover , .navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:5px 5px 5px 5px; 
	color: white; 
	background-color:black;
	border-bottom:solid 1px #800000;
	}
.navigation li dd.last {
	border-bottom:0;
	}	
.navigation li dd a, .navigation  li dd a:visited {
	color: white;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	cursor: pointer;
	display:block; 
    }
.navigation li dd a:hover{
	text-decoration: none;
	color:  #0099FF;
    }
/*隱藏子選單*/
.navigation li dd { display:none;} 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, 
.navigation li a:hover dd { display:block;}
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}
label{
	margin-bottom:20px;
}
