vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Apr 2020 18:10:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-FOG0J7P\\Freya
vti_modifiedby:SR|DESKTOP-FOG0J7P\\Freya
vti_timecreated:TR|12 Apr 2020 19:52:58 -0000
vti_backlinkinfo:VX|Project/each/each.html Project/templet/templet.html
vti_nexttolasttimemodified:TW|15 Apr 2020 17:00:34 -0000
vti_cacheddtm:TX|15 Apr 2020 18:10:02 -0000
vti_filesize:IR|3054
vti_cachedlinkinfo:VX|Q|../reset.css
vti_cachedsvcrellinks:VX|FQUS|Project/reset.css
